<div id="<%= dom_id workzone_task %>">
  <p>
    <strong>Title:</strong>
    <%= workzone_task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= workzone_task.description %>
  </p>
</div>
