<h1>Editing task</h1>

<%= render "form", workzone_task: @workzone_task %>

<br>

<div>
  <%= link_to "Show this task", @workzone_task %> |
  <%= link_to "Back to tasks", workzone_tasks_path %>
</div>
